body {
    font-family: Arial;
    margin: 0;
}

.layout-1 {
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
}

.layout-1 .exercise-card {
  font-size: 18px;
}

.layout-2 {
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr 1fr;
}

.layout-3 {
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr 1fr 1fr;
}

.layout-4 {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr 1fr;
}

.page {
    width: 210mm;
    height: 297mm;
    padding: 20mm;
    box-sizing: border-box;
    display: grid;
    gap: 20px;
    page-break-after: always;
}

.page-title {
  grid-column: 1 / -1;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
}

h1 {
    text-align: center;
    margin-bottom: 10px;
}

.exercise-card {
  border: 2px solid #ddd;
  border-radius: 10px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  overflow: visible;
  height: 100%;
}

.exercise-card h2 {
  font-size: 16px;
}

.exercise-card h3 {
  font-size: 14px;
  margin-bottom: 6px;
}

.exercise-card.large {
  grid-column: span 2;
}

.exercise-card.medium {
  font-size: 14px;
}

.exercise-card.medium img {
  width: 50px;
  height: 50px;
}

.exercise-card.large {
  font-size: 13px;
}

.exercise-card.large img {
  width: 45px;
  height: 45px;
}

.exercise-card.large .match-item {
  min-height: 40px;
  padding: 6px;
}

.exercise h2 {
    margin: 0 0 8px;
    font-size: 18px;
}

.matching {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.matching-words,
.matching-images {
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.match-item {
  border: 1px solid #ccc;
  padding: 10px 12px;
  border-radius: 6px;
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.matching-words .match-item {
  justify-content: flex-start;
  font-size: 18px;
}

.matching-images img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 6px;
  object-fit: contain;
}

.match-label {
  font-weight: bold;
  min-width: 20px;
}

.mcq-question {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.mcq-image img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 6px;
}

.mcq-text {
  flex: 1;
}

.mcq-option {
  margin-left: 10px;
}

.fill-question {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.fill-image img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 6px;
}

.fill-text {
  flex: 1;
}

.fill-text p {
  font-size: 18px;
}